<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fuel_indeed_app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminUser</display-name>
    <servlet-name>adminUser</servlet-name>
    <servlet-class>com.disha.service.adminUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminUser</servlet-name>
    <url-pattern>/adminUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.disha.service.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelStationLogin</display-name>
    <servlet-name>FuelStationLogin</servlet-name>
    <servlet-class>com.disha.service.FuelStationLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStationLogin</servlet-name>
    <url-pattern>/FuelStationLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelStationRegister</display-name>
    <servlet-name>FuelStationRegister</servlet-name>
    <servlet-class>com.disha.service.FuelStationRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStationRegister</servlet-name>
    <url-pattern>/FuelStationRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryPersonLogin</display-name>
    <servlet-name>DeliveryPersonLogin</servlet-name>
    <servlet-class>com.disha.service.DeliveryPersonLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryPersonLogin</servlet-name>
    <url-pattern>/DeliveryPersonLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.disha.service.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.disha.service.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFuelAvailbility</display-name>
    <servlet-name>UpdateFuelAvailbility</servlet-name>
    <servlet-class>com.disha.service.UpdateFuelAvailbility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFuelAvailbility</servlet-name>
    <url-pattern>/UpdateFuelAvailbility</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFuelRate</display-name>
    <servlet-name>UpdateFuelRate</servlet-name>
    <servlet-class>com.disha.service.UpdateFuelRate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFuelRate</servlet-name>
    <url-pattern>/UpdateFuelRate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryPersonRegister</display-name>
    <servlet-name>DeliveryPersonRegister</servlet-name>
    <servlet-class>com.disha.service.DeliveryPersonRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryPersonRegister</servlet-name>
    <url-pattern>/DeliveryPersonRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelStationChangePass</display-name>
    <servlet-name>FuelStationChangePass</servlet-name>
    <servlet-class>com.disha.service.FuelStationChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStationChangePass</servlet-name>
    <url-pattern>/FuelStationChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserChangePassword</display-name>
    <servlet-name>UserChangePassword</servlet-name>
    <servlet-class>com.disha.service.UserChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserChangePassword</servlet-name>
    <url-pattern>/UserChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DPersonChangePassword</display-name>
    <servlet-name>DPersonChangePassword</servlet-name>
    <servlet-class>com.disha.service.DPersonChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DPersonChangePassword</servlet-name>
    <url-pattern>/DPersonChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFuel</display-name>
    <servlet-name>BookFuel</servlet-name>
    <servlet-class>com.disha.service.BookFuel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFuel</servlet-name>
    <url-pattern>/BookFuel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageBooking</display-name>
    <servlet-name>ManageBooking</servlet-name>
    <servlet-class>com.disha.service.ManageBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBooking</servlet-name>
    <url-pattern>/ManageBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStatus</display-name>
    <servlet-name>ChangeStatus</servlet-name>
    <servlet-class>com.disha.service.ChangeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatus</servlet-name>
    <url-pattern>/ChangeStatus</url-pattern>
  </servlet-mapping>
</web-app>